body {
    background-color: chocolate;
}

.titulo {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.img {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.corpo {
    display: flex;
    justify-content: baseline;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}